.fondo-bienvenida {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  url("https://www.pointmeup.com/hubfs/POINT%20-%20BLOG/Portadas/blog-servicio-domicilio.jpg");
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
