h1 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
table {
  margin-bottom: 20px;
}
button {
  margin-bottom: 20px;
}

.pagina {
  background-color: #f6de93;
  min-height: 100vh;
}

